node_modules/

socket-client/node_modules

socket-client/coverage

socket-client/build


socket-client/.DS_Store
socket-client/.env.local
socket-client/.env.development.local
socket-client/.env.test.local
socket-client/.env.production.local

socket-client/npm-debug.log*
socket-client/yarn-debug.log*
socket-client/yarn-error.log*
